# 서버 구동용
fastapi
uvicorn
requests
pydantic
pymongo
python-dotenv
httpx
# 데이터 처리 및 AI 용
pandas
numpy
yfinance
chromadb
sentence-transformers
torch
optuna
tqdm
# 비밀번호 암호화
passlib
bcrypt==4.0.1
pydantic[email]